# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environments
env/
.venv/
*.logenv/

# Mac system files
*.DS_Store

# Ignore results (optional: if you don’t want logs pushed)
results/